<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QrScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Satochip.Scanner"
            tools:ignore="LockedOrientationActivity,DiscouragedApi" />
        <activity
            android:name=".HyperliquidActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity,DiscouragedApi" />
        <activity
            android:name=".ContinuousQrScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Satochip.Scanner"
            tools:ignore="LockedOrientationActivity,DiscouragedApi" />
    </application>
</manifest>
